target/aws/scripts/step_functions/workflow_nodejs.asl.json
{
  "Comment": "Context-Based Cost Optimization — Path B (Node.js + WASM SIMD128). Follows the cylon paper architecture: armada_init → Map (armada_executor per task) → armada_aggregate.",
  "StartAt": "ArmadaInit",
  "States": {
    "ArmadaInit": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${ACCOUNT_ID}:function:cylon-armada-init-node",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ProcessTasks"
    },
    "ProcessTasks": {
      "Type": "Map",
      "ItemsPath": "$.body",
      "Parameters": {
        "rank.$":             "$$.Map.Item.Value.rank",
        "embedding_key.$":    "$$.Map.Item.Value.embedding_key",
        "embedding_metadata.$": "$$.Map.Item.Value.embedding_metadata",
        "workflow_id.$":      "$.workflow_id",
        "world_size.$":       "$.world_size",
        "scaling.$":          "$.scaling",
        "config.$":           "$.config",
        "fmi_channel_type.$": "$.fmi_channel_type",
        "fmi_hint.$":         "$.fmi_hint",
        "experiment_name.$":  "$.experiment_name"
      },
      "MaxConcurrency": 1000,
      "Iterator": {
        "StartAt": "RouteTask",
        "States": {
          "RouteTask": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${ACCOUNT_ID}:function:cylon-armada-executor-node",
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "End": true
          }
        }
      },
      "ResultPath": "$.task_results",
      "Next": "CleanState"
    },
    "CleanState": {
      "Type": "Pass",
      "Parameters": {
        "workflow_id.$":      "$.workflow_id",
        "task_results.$":     "$.task_results",
        "scaling.$":          "$.scaling",
        "world_size.$":       "$.world_size",
        "results_s3_dir.$":   "$.results_s3_dir",
        "experiment_name.$":  "$.experiment_name",
        "prepare_cost.$":     "$.prepare_cost"
      },
      "ResultPath": "$",
      "Next": "AggregateResults"
    },
    "AggregateResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${ACCOUNT_ID}:function:cylon-armada-aggregate-node",
      "Parameters": {
        "workflow_id.$":      "$.workflow_id",
        "task_results.$":     "$.task_results",
        "scaling.$":          "$.scaling",
        "world_size.$":       "$.world_size",
        "results_s3_dir.$":   "$.results_s3_dir",
        "experiment_name.$":  "$.experiment_name",
        "prepare_cost.$":     "$.prepare_cost"
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    }
  }
}