target/aws/scripts/step_functions/workflow_nodejs.asl.json
{
  "Comment": "Context-Based Cost Optimization — Path B (Node.js + WASM SIMD128). Same 3-stage workflow as Python path but targeting the Node.js Lambda with direct action dispatch.",
  "StartAt": "PrepareTasks",
  "States": {
    "PrepareTasks": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:${ACCOUNT_ID}:function:cylon-armada-worker-node",
      "Parameters": {
        "action": "prepare_tasks",
        "action_payload": {
          "workflow_id.$": "$.workflow_id",
          "tasks.$": "$.tasks",
          "config.$": "$.config"
        }
      },
      "ResultPath": "$.prepare_output",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ProcessTasks"
    },
    "ProcessTasks": {
      "Type": "Map",
      "ItemsPath": "$.prepare_output.task_payloads",
      "MaxConcurrency": 10,
      "Parameters": {
        "task_payload.$": "$$.Map.Item.Value",
        "s3_config.$": "$.config"
      },
      "Iterator": {
        "StartAt": "RouteTask",
        "States": {
          "RouteTask": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:${ACCOUNT_ID}:function:cylon-armada-worker-node",
            "Parameters": {
              "action": "route_task",
              "action_payload": {
                "task_description.$": "$.task_payload.task_description",
                "embedding_b64.$": "$.task_payload.embedding_b64",
                "embedding_metadata.$": "$.task_payload.embedding_metadata",
                "workflow_id.$": "$.task_payload.workflow_id",
                "rank.$": "$.task_payload.rank",
                "world_size.$": "$.task_payload.world_size",
                "config.$": "$.task_payload.config"
              }
            },
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "End": true
          }
        }
      },
      "ResultPath": "$.task_results",
      "Next": "AggregateResults"
    },
    "AggregateResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:${ACCOUNT_ID}:function:cylon-armada-worker-node",
      "Parameters": {
        "action": "aggregate_results",
        "action_payload": {
          "workflow_id.$": "$.prepare_output.workflow_id",
          "task_results.$": "$.task_results",
          "prepare_cost.$": "$.prepare_output.prepare_cost"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    }
  }
}