target/aws/scripts/step_functions/workflow.asl.json
{
  "Comment": "Context-Based Cost Optimization Workflow. Follows the cylon paper architecture: armada_init fans out per-task payloads → Map state invokes armada_executor per task → armada_aggregate collects results.",
  "StartAt": "ArmadaInit",
  "States": {
    "ArmadaInit": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${ACCOUNT_ID}:function:cylon-armada-init",
      "ResultPath": "$.init_output",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ProcessTasks"
    },
    "ProcessTasks": {
      "Type": "Map",
      "ItemsPath": "$.init_output.body",
      "MaxConcurrency": 1000,
      "Iterator": {
        "StartAt": "RouteTask",
        "States": {
          "RouteTask": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${ACCOUNT_ID}:function:cylon-armada-executor",
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "End": true
          }
        }
      },
      "ResultPath": "$.task_results",
      "Next": "AggregateResults"
    },
    "AggregateResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${ACCOUNT_ID}:function:cylon-armada-aggregate",
      "Parameters": {
        "workflow_id.$":      "$.init_output.workflow_id",
        "task_results.$":     "$.task_results",
        "scaling.$":          "$.init_output.scaling",
        "world_size.$":       "$.init_output.world_size",
        "results_s3_dir.$":   "$.init_output.results_s3_dir",
        "experiment_name.$":  "$.init_output.experiment_name",
        "prepare_cost.$":     "$.init_output.prepare_cost"
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    }
  }
}