target/aws/scripts/step_functions/workflow_nodejs.asl.json
{
  "Comment": "Context-Based Cost Optimization — Path B (Node.js + WASM SIMD128). Follows the cylon paper architecture: armada_init → Map (armada_executor per task) → armada_aggregate.",
  "StartAt": "ArmadaInit",
  "States": {
    "ArmadaInit": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${ACCOUNT_ID}:function:cylon-armada-init-node",
      "Parameters": {
        "workflow_id.$": "$.workflow_id",
        "tasks.$": "$.tasks",
        "config.$": "$.config"
      },
      "ResultPath": "$.init_output",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ProcessTasks"
    },
    "ProcessTasks": {
      "Type": "Map",
      "ItemsPath": "$.init_output.body",
      "MaxConcurrency": 1000,
      "Iterator": {
        "StartAt": "RouteTask",
        "States": {
          "RouteTask": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${ACCOUNT_ID}:function:cylon-armada-executor-node",
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "End": true
          }
        }
      },
      "ResultPath": "$.task_results",
      "Next": "AggregateResults"
    },
    "AggregateResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${ACCOUNT_ID}:function:cylon-armada-aggregate-node",
      "Parameters": {
        "workflow_id.$": "$.workflow_id",
        "task_results.$": "$.task_results",
        "prepare_cost.$": "$.init_output.prepare_cost"
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    }
  }
}